<div class="page-header">
  <h1>All Status</h1>
  <%= link_to 'New Status', new_status_path, class:"btn btn-primary new-status" %>
</div>


<ol class="status-container">
  <% @statuses.each do |status| %>
    <li>
    <a href="<%= status_path(status) %>">
      <div class="status">
        <p class="content"><%= status.content %></p>
        <div class="links">
          <p> Written by <%= status.user.profile_name %> <%= time_ago_in_words(status.created_at) %> </p>
          <% if status.user == current_user %>
            <span class="admin">
              <%= link_to "Edit", edit_status_path(status) %>
              <%= link_to "Delete", status, method: :delete, data: {confirm: "Are you sure you want o delte this status?"} %>
            </span>
          <% end %>
        </div>
      </div>
    </a>
    </li>
  <% end %>
</ol>
